@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #3d64e6;
}

.container {
  background-color: #ffffff;
  width: 80%;
  max-width: 38rem;
  padding: 3rem 2.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.search-wrapper {
  display: grid;
  grid-template-columns: 8fr 4fr;
  column-gap: 2rem;
}

.search-wrapper button {
  font-size: 1em;
  background-color: #3d64e6;
  color: #ffffff;
  padding: 0.8rem 0;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.search-wrapper button:hover {
    background-color: #1d4ef0;
}

.search-wrapper input {
  font-size: 1rem;
  padding: 0 1rem;
  border: none;
  border-bottom: 2px solid #3d64e6;
  outline: none;
  color: #222a43;
}

#result {
  margin-top: 1.25rem;
}

.container .flag-img {
    display: block;
    min-width: 8rem;
    width: 50%;
    margin: 2rem auto 2rem auto;
}

.container h2 {
    font-weight: 600;
    color: #222a43;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
}

.data-wrapper {
    margin-bottom: 1rem;
    letter-spacing: 1px;
}

.container h4 {
    display: inline;
    font-weight: 500;
    color: #222a43;
}

.container span {
    color: #5d6274;
}

.container h3 {
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    color: #ff465a;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #dbdada;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 0.8s ease-in-out infinite;
    margin: 50px auto;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
